@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://developers.redhat.com/developer-sandbox">using openshift to host Web apps services</a>.</p>
</div>
